<%= form_with model: @location do |form| %>
  <div>
    <p><%= form.label :name %></p>
    <p><%= form.text_field :name %></p>
    <% @location.errors.full_messages_for(:name).each do |message| %>
      <p><%= message %></p>
    <% end %>
  </div>

  <div>
    <p><%= form.label :description %></p>
    <p><%= form.text_area :description %></p>
    <% @location.errors.full_messages_for(:description).each do |message| %>
      <p><%= message %></p>
    <% end %>
  </div>

  <div>
    <p><%= form.label :address %></p>
    <p><%= form.text_field :address %></p>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>